In [9]:
##String based assginment problem
#1. Write a program to reverse a string.
s="mahabali"
s[::-1]

'ilabaham'

In [11]:
#2. Check if a string is a palindrome.
a=(input("Enter the string:"))

Enter the string: Mahakal

In [12]:
b=a[-1::-1]

In [13]:
if (a==b):
    print("string is palindrome")
else:
    print("string is not palindrome")

string is not palindrome

In [14]:
#3. Convert a string to uppercase.
s1="manimoy"
print(s1.upper())

MANIMOY

In [15]:
#4. Convert a string to lowercase.
s2="MANIMOY"
print(s2.lower())

manimoy

In [16]:
#5. Count the number of vowels in a string.
s="I will win not immediately but definitely"
v="aeiouAEIOU"
count=sum(s.count(vowel)for vowel in v)
print(count)

14

In [17]:
#6. Count the number of consonants in a string.
s="I will win not immediately but definitely"
c="bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
count=sum(s.count(consonant)for consonant in c)
print(count)

21

In [18]:
#7. Remove all whitespaces from a string.
s="m a n i m o y"
print(s.replace(" ",""))

manimoy

In [19]:
#8. Find the length of a string without using the `len()` function.
s5="Bali"
count=sum(s5.count(char) for char in s5)
print(count)

4

In [20]:
#9. Check if a string contains a specific word.
s='hello world'
if 'world' in s:
    print("yes it is present in s")
else:
    print("No it is not present in s")

yes it is present in s

In [21]:
#10. Replace a word in a string with another word.
s="I am from Agartala"
print(s.replace("Agartala","Kolkata"))

I am from Kolkata

In [22]:
#11. Count the occurrences of a word in a string.
s="Hello world,Hello again."
print(s.count("Hello"))

2

In [23]:
#12. Find the first occurrence of a word in a string.
s=" Hello world,Hello again."
print(s.index("Hello"))

1

In [24]:
#13. Find the last occurrence of a word in a string.
s="Collage walla is the best channel to learl coding"
a= s.split()
print(a[-1])

coding

In [25]:
#14. Split a string into a list of words.
a="Amake amar moto thakte duo"
b=a.split()
print(b)

['Amake', 'amar', 'moto', 'thakte', 'duo']

In [26]:
#15. Join a list of words into a string.
l=["Amake ","amar ","moto ","thakte ","duo"]
a="".join(l)
print(a)

Amake amar moto thakte duo

In [29]:
"""16. Convert a string where words are separated by spaces to one where words n/
#are separated by underscores."""
s="Amake amar moto thakte duo"
print(s.replace(" ", "_" ))

Amake_amar_moto_thakte_duo

In [30]:
#17. Check if a string starts with a specific word or phrase.
s="Hello world"
print(s.startswith("Hello"))

True

In [31]:
#18. Check if a string ends with a specific word or phrase.
s="Amake amar moto thakte duo"
print(s.endswith("duo"))

True

In [32]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
s="'hello world 'to' Hello World"
print(s.title())

'Hello World 'To' Hello World

In [33]:
#20. Find the longest word in a string.
s="Amake amar moto thakte duo"
print(max(s.split(),key=len))

thakte

In [34]:
#21. Find the shortest word in a string.
s="Amake amar moto thakte duo"
print(min(s.split(),key=len))

duo

In [35]:
#22. Reverse the order of words in a string.
a="Amake amar moto thakte duo"
b=a.split()
c=b[::-1]
print(" ".join(c))

duo thakte moto amar Amake

In [2]:
#23. Check if a string is alphanumeric.
s="mani17"
print(s.isalnum())

True

In [37]:
#24. Extract all digits from a string.
input_string=input("Enter a string")
digits=[char for char in input_string if char.isdigit()]
print("Digit extracted:","".join(digits))

Enter a string ggy35bh7777

Digit extracted: 357777

In [38]:
#25. Extract all alphabets from a string.
input_string=input("Enter a string")
alphabets=[char for char in input_string if char.isalpha()]
print("Alphabets extracted:","".join(alphabets))

Enter a string gjhh4j5h787

Alphabets extracted: gjhhjh

In [93]:
# Q26: Count the number of uppercase letters in a string.

input_string = input("Enter a string: ")
uppercase_count = sum(1 for char in input_string if char.isupper())

print("Number of uppercase letters:", uppercase_count)

Enter a string:  hdghFYGG

Number of uppercase letters: 4

In [95]:
#27. Count the number of lowercase letters in a string.
input_string = input("Enter a string: ")
lowercase_count = sum(1 for char in input_string if char.islower())

print("Number of lowercase letters:", lowercase_count)

Enter a string:  gfgDSHFRF

Number of lowercase letters: 3

In [41]:
#28. Swap the case of each character in a string.
s="Hello World"
print(s.swapcase())

hELLO wORLD

In [1]:
#29. Remove a specific word from a string.
s="Hello World"
print(s.replace("World",''))

Hello

In [3]:
#30. Check if a string is a valid email address.
import re  # Import the regex expression module

email_condition='^[a-z]+[\._]?[a-z 0-9]+[@]\w+[.]\w{2,3}$'
user_email=input("Enter your Email : ")
if re.search(email_condition,user_email):
    print("Right Email ")
else:
    print("Wrong Email")

Enter your Email :  balpula_12@outlook.com

Right Email

In [3]:
#31. Extract the username from an email address string.
email=input("enter your email: ")
user_name=email.split('@'[0])
print( "Username: ",user_name[0])

enter your email:  manimay@outlook.com

Username:  manimay

In [4]:
#32. Extract the domain name from an email address string.
Email=input("Enter your email: ")
domain = email.split('@')[1]
print('Domain name: ',domain)

Enter your email:  manimay@outlook.com

Domain name:  outlook.com

In [6]:
#33. Replace multiple spaces in a string with a single space.
input_string=input("Enter the string: ")
new_string=' '.join(input_string.split())
print(new_string)

Enter the string:  Bhalo   aache   bhalo   thako!

Bhalo aache bhalo thako!

In [50]:
#34. Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [51]:
#35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [52]:
#36. Find the frequency of each character in a string.
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [53]:
#37. Remove all punctuation from a string.
import string

def remove_punctuation(input_string):     # Create a translation table to remove punctuation
                                     
    translator = str.maketrans("", "", string.punctuation)     # Use the translation table to remove punctuation from the input string

    
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [54]:
#38. Check if a string contains only digits.
def contains_only_digits(input_string):
    # Check if all characters in the string are digits
    return input_string.isdigit()

# Example strings
string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

# Check if strings contain only digits
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

# Print the results
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [55]:
#39. Check if a string contains only alphabets.
def contains_only_alphabets(input_string):
    # Check if all characters in the string are alphabetic
    return input_string.isalpha()

# Example strings
string1 = "Hello"
string2 = "Hello123"
string3 = "12345"

# Check if strings contain only alphabets
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

# Print the results
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

In [56]:
#40. Convert a string to a list of characters.
def string_to_list(input_string):
    # Use list() constructor to convert the string to a list of characters
    char_list = list(input_string)
    return char_list

# Example string
input_str = "Hello, world!"

# Convert the string to a list of characters
char_list = string_to_list(input_str)

# Print the list of characters
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [57]:
#41. Check if two strings are anagrams.
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

In [58]:
#42. Encode a string using a Caesar cipher.
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [59]:
#43. Decode a Caesar cipher encoded string.
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [84]:
#44. Find the most frequent word in a string.
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter('words')

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]
    import re
    return most_common_word

    # Example string
    input_str = "Hello world, hello there! How's the world?"
    # Find the most frequent word
    most_common = most_frequent_word(input_str)

    # Print the result
    print("Most frequent word:", most_common)

In [85]:
#45. Find all unique words in a string.
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'there', 'world', 'hows', 'hello', 'the'}

In [86]:
#46. Count the number of syllables in a string.
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [87]:
#47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [88]:
#48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [91]:
#49. Insert a word at the nth position in a string.
# initializing string
test_string = 'A apple'

# initializing add_string
add_string = "for"

# printing original string
print("The original string : " + test_string)

# printing add string
print("The add string : " + add_string)

# initializing N
N = 5

# using list slicing
# Add substring at specific index
res = test_string[ : N] + add_string + test_string[N : ]
	
# print result
print("The string after performing addition : " + str(res))

The original string : A apple
The add string : for
The string after performing addition : A appforle

In [92]:
#50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

##List Based Practice Problem :

In [2]:
#1. Create a list with integers from 1 to 10.
# Use a list comprehension to create a list of integers from 1 to 10
integer_list = [i for i in range(1, 11)]

# Print the list
print("List = ",integer_list)

List =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#2. Find the length of a list without using the `len()` function.
My_list=[10,11,12,13,14,15,16,17]
count=sum(My_list.count(char) for char in My_list)
print(count)

8

In [6]:
#3. Append an element to the end of a list.
# Example list
my_list = [11,12,13,14,15]

# Element to append
new_element = 16

# Append the new element to the end of the list
my_list.append(new_element)

# Print the updated list
print("New_list list:", my_list)

New_list list: [11, 12, 13, 14, 15, 16]

In [7]:
#4. Insert an element at a specific index in a list.
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to insert
new_element = 25

# Index at which to insert the element
index_to_insert = 2

# Insert the new element at the specified index
my_list.insert(index_to_insert, new_element)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 25, 30, 40, 50]

In [8]:
#5. Remove an element from a list by its value.
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to remove
element_to_remove = 30

# Remove the element by its value
my_list.remove(element_to_remove)

# Print the updated list
print("Updated list:", my_list)

Updated list: [10, 20, 40, 50]

In [11]:
#6. Remove an element from a list by its index.
# Example list
my_list = [10, 20, 30, 40, 50]

# Index of the element to remove
index_to_remove = 2

# Remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

# Print the updated list and the removed element
print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [10, 20, 40, 50]
Removed element: 30

In [12]:
#7. Check if an element exists in a list.
# Example list
my_list = [10, 20, 30, 40, 50]

# Element to check
element_to_check = 30

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

In [13]:
#8. Find the index of the first occurrence of an element in a list.
# Example list
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
element_to_find = 30

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

# Print the index
print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

In [14]:
#9. Count the occurrences of an element in a list.
# Example list
my_list = [10, 20, 30, 40, 50, 30, 30]

# Element to count occurrences of
element_to_count = 30

# Count the occurrences of the element
count = my_list.count(element_to_count)

# Print the count
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

In [15]:
#10. Reverse the order of elements in a list.
# Example list
my_list = [10, 20, 30, 40, 50]

# Reverse the order of elements in the list
my_list.reverse()

# Print the reversed list
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [16]:
#11. Sort a list in ascending order.
# Example list
my_list = [50, 10, 30, 40, 20]

# Sort the list in ascending order
my_list.sort()

# Print the sorted list
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

In [17]:
#12. Sort a list in descending order.
# Example list
my_list = [50, 10, 30, 40, 20]

# Sort the list in descending order
my_list.sort(reverse=True)

# Print the sorted list
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

In [18]:
#13. Create a list of even numbers from 1 to 20.
# Use a list comprehension to create a list of even numbers from 1 to 20
even_numbers = [x for x in range(2, 21, 2)]

# Print the list of even numbers
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
#14. Create a list of odd numbers from 1 to 20.
# Use a list comprehension to create a list of odd numbers from 1 to 20
odd_numbers = [x for x in range(1, 21, 2)]

# Print the list of odd numbers
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [20]:
#15. Find the sum of all elements in a list.
# Example list
my_list = [10, 20, 30, 40, 50]

# Calculate the sum of all elements in the list
total_sum = sum(my_list)

# Print the sum
print("Sum of elements:", total_sum)

Sum of elements: 150

In [21]:
#16. Find the maximum value in a list.
# Example list
my_list = [10, 20, 30, 40, 50]

# Find the maximum value in the list
max_value = max(my_list)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 50

In [22]:
#17. Find the minimum value in a list.
# Example list
my_list = [10, 20, 30, 40, 50]

# Find the minimum value in the list
min_value = min(my_list)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 10

In [23]:
#18. Create a list of squares of numbers from 1 to 10.
# Use a list comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
#19. Create a list of random numbers.
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [35, 20, 73, 24, 92, 26, 8, 83, 52, 66]

In [25]:
#20. Remove duplicates from a list.
# Example list with duplicates
my_list = [10, 20, 30, 20, 40, 10, 50, 30]

# Remove duplicates by converting to a set and back to a list
unique_list = list(set(my_list))

# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

In [27]:
#21. Find the common elements between two lists.
 
def common_member(a, b):
	a_set = set(a)
	b_set = set(b)

	if (a_set & b_set):
		print(a_set & b_set)
	else:
		print("No common elements")
		

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_member(a, b)

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
common_member(a, b)

{5}
No common elements

In [28]:
#22. Find the difference between two lists.
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

In [29]:
#23. Merge two lists.
# Example lists
list1 = [10, 20, 30]
list2 = [40, 50, 60]

# Merge lists using the + operator
merged_list = list1 + list2

# Print the merged list
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

In [31]:
#24. Multiply all elements in a list by 2.
# Example list
my_list = [10, 20, 30, 40, 50]

# Multiply all elements by 2 using a list comprehension
multiplied_list = [x * 2 for x in my_list]

# Print the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

In [32]:
#25. Filter out all even numbers from a list.

# Initialisation of list
lis = [1, 2, 3, 4, 5]

# Output list initialisation
out = []

for num in lis:

	# checking condition
	if num % 2 == 0:
		out.append(num)


# printing output
print(out)

[2, 4]

In [1]:
#26. Convert a list of strings to a list of integers.
# Example list of strings
string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

In [2]:
#27. Convert a list of integers to a list of strings.
# Example list of integers
integer_list = [10, 20, 30, 40, 50]

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [3]:
#28. Flatten a nested list.
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#29. Create a list of the first 10 Fibonacci numbers.
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

In [5]:
#30. Check if a list is sorted.
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [6]:
#31. Rotate a list to the left by `n` positions.
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [7]:
#32. Rotate a list to the right by `n` positions.
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [8]:
#33. Create a list of prime numbers up to 50.
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [9]:
#34. Split a list into chunks of size `n`.
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [10]:
#35. Find the second largest number in a list.
# Example list
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [11]:
#36. Replace every element in a list with its square.
# Example list
my_list = [2, 4, 6, 8, 10]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

In [12]:
"""#37. Convert a list to a dictionary where list elements become keys and their
indices become values."""
# Example list
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [13]:
#38. Shuffle the elements of a list randomly.
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [5, 10, 6, 7, 3, 2, 8, 4, 1, 9]

In [14]:
#39. Create a list of the first 10 factorial numbers.
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [15]:
#40. Check if two lists have at least one element in common.
# Function to check if two lists have at least one element in common
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [16]:
#41. Remove all elements from a list.
# Example list
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

In [17]:
#42. Replace negative numbers in a list with 0.
# Example list
my_list = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [18]:
#43. Convert a string into a list of words.
# Example string
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [19]:
#44. Convert a list of words into a string.
# Example list of words
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [20]:
#45. Create a list of the first `n` powers of 2.
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [21]:
#46. Find the longest string in a list of strings.
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

In [22]:
#47. Find the shortest string in a list of strings.
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

In [23]:
#48. Create a list of the first `n` triangular numbers.
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [24]:
#49. Check if a list contains another list as a subsequence.
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [25]:
#50. Swap two elements in a list by their indices.
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]





Tuple Based Practice Problem :

In [26]:
#1. Create a tuple with integers from 1 to 5.
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Access the third element of the tuple
third_element = my_tuple[2]

# Explanation: In this line, we use indexing to access the third element of the tuple.
# Since indexing is 0-based, the third element is at index 2.

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

In [27]:
#2. Access the third element of a tuple.
# Step 1: Create a tuple with some elements
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Access the third element (index 2) of the tuple
third_element = my_tuple[2]

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

In [28]:
#3. Find the length of a tuple without using the `len()` function.
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Initialize a variable to count the elements
count = 0

# Step 3: Iterate through the tuple and increment the count for each element
for _ in my_tuple:
    count += 1

# Step 4: Print the length of the tuple
print("The length of the tuple is:", count)

The length of the tuple is: 5

In [29]:
#4. Count the occurrences of an element in a tuple.
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50, 20)

# Step 2: Choose the element to count occurrences of
element_to_count = 20

# Step 3: Initialize a variable to keep track of the count
count = 0

# Step 4: Iterate through the tuple and count occurrences of the chosen element
for item in my_tuple:
    if item == element_to_count:
        count += 1

# Step 5: Print the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

In [30]:
#5. Find the index of the first occurrence of an element in a tuple.
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50)

# Step 2: Choose the element to find the index of
element_to_find = 20

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [31]:
#6. Check if an element exists in a tuple.
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Choose the element to check for existence
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

In [32]:
#7. Convert a tuple to a list.
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)

# Step 3: Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

In [33]:
#8. Convert a list to a tuple.
# Step 1: Create a list
my_list = [10, 20, 30, 40, 50]

# Step 2: Convert the list to a tuple
my_tuple = tuple(my_list)

# Step 3: Print the resulting tuple
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

In [34]:
#9. Unpack the elements of a tuple into variables.
# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [35]:
#10. Create a tuple of even numbers from 1 to 10.
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [36]:
#11. Create a tuple of odd numbers from 1 to 10.
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [37]:
#12. Concatenate two tuples.
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Step 3: Print the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [38]:
#13. Repeat a tuple three times.
# Step 1: Create a tuple
original_tuple = (1, 2, 3)

# Step 2: Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Step 3: Print the repeated tuple
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [39]:
#14. Check if a tuple is empty.
# Step 1: Create an empty tuple and a non-empty tuple
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [40]:
#15. Create a nested tuple.
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [41]:
#16. Access the first element of a nested tuple.
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [42]:
#17. Create a tuple with a single element.
# Step 1: Create a tuple with a single element
single_element_tuple = (42,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

In [43]:
#18. Compare two tuples.
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [45]:
#19. Delete a tuple.
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Step 2: Delete the tuple using the 'del' statement
del my_tuple

# Step 3: Try to access the tuple (will raise a NameError)
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [46]:
#20. Slice a tuple.
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Step 2: Slice the tuple to get a portion of it
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)

# Step 3: Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [47]:
#21. Find the maximum value in a tuple.
# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the maximum value in the tuple using the 'max()' function
max_value = max(my_tuple)

# Step 3: Print the maximum value
print("Maximum value:", max_value)

Maximum value: 45

In [48]:
#22. Find the minimum value in a tuple.
# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the minimum value in the tuple using the 'min()' function
min_value = min(my_tuple)

# Step 3: Print the minimum value
print("Minimum value:", min_value)

Minimum value: 5

In [49]:
#23. Convert a string to a tuple of characters.
# Step 1: Create a string
my_string = "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Step 3: Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [50]:
#24. Convert a tuple of characters to a string.
# Step 1: Create a tuple of characters
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Step 2: Convert the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)

# Step 3: Print the resulting string
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [51]:
#25. Create a tuple from multiple data types.
# Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [52]:
#26. Check if two tuples are identical.
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [53]:
#27. Sort the elements of a tuple.
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [54]:
#28. Convert a tuple of integers to a tuple of strings.
# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [55]:
#29. Convert a tuple of strings to a tuple of integers.
# Step 1: Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [56]:
#30. Merge two tuples.
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [57]:
#31. Flatten a nested tuple.
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [58]:
#32. Create a tuple of the first 5 prime numbers.
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [59]:
#33. Check if a tuple is a palindrome.
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [60]:
#34. Create a tuple of squares of numbers from 1 to 5.
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [61]:
#35. Filter out all even numbers from a tuple.
# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [62]:
#36. Multiply all elements in a tuple by 2.
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(num * 2 for num in original_tuple)

# Print the doubled tuple
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [63]:
#37. Create a tuple of random numbers.
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (65, 24, 73, 17, 91, 69, 26, 37, 10, 96)

In [64]:
#38. Check if a tuple is sorted.
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [65]:
#39. Rotate a tuple to the left by `n` positions.
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [66]:
#40. Rotate a tuple to the right by `n` positions.
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [70]:
#41. Create a tuple of the first 5 Fibonacci numbers.
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [71]:
#42. Create a tuple from user input.
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  s,e,r,,t,y,y,u,

User input tuple: ('s', 'e', 'r', '', 't', 'y', 'y', 'u', '')

In [72]:
#43. Swap two elements in a tuple.
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [73]:
#44. Reverse the elements of a tuple.
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [74]:
#45. Create a tuple of the first `n` powers of 2.
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [75]:
#46. Find the longest string in a tuple of strings.
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

In [76]:
#47. Find the shortest string in a tuple of strings.
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [77]:
#48. Create a tuple of the first `n` triangular numbers.
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [78]:
#49. Check if a tuple contains another tuple as a subsequence.
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [79]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

In [80]:
#1. Create a set with integers from 1 to 5.
# Step 1: Create an empty set
my_set = set()

# Step 2: Add integers from 1 to 5 to the set
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

# Step 3: Print the final set
print(my_set)## Set based problems:

{1, 2, 3, 4, 5}

In [81]:
#2. Add an element to a set.
# Step 1: Create a set
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Add an element to the set
element_to_add = 6
my_set.add(element_to_add)

# Step 4: Display the modified set
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

In [82]:
#3. Remove an element from a set.
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Print the original set
print("Original Set:", my_set)

# Step 3: Choose an element to remove
element_to_remove = 3

# Step 4: Use the remove() method to remove the chosen element
# Note: If the element is not present in the set, remove() raises a KeyError.
my_set.remove(element_to_remove)

# Step 5: Print the modified set after removal
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [83]:
#4. Check if an element exists in a set.
# Step 1: Create a set with some elements
my_set = {1, 3, 5, 7, 9}

# Step 2: Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  4

4 does not exist in the set.

In [84]:
#5. Find the length of a set without using the `len()` function.
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

In [85]:
#6. Clear all elements from a set.
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Clear all elements from the set using the clear() method
my_set.clear()

# Step 4: Display the set after clearing
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [86]:
#7. Create a set of even numbers from 1 to 10.
# Step 1: Initialize an empty set
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Step 3: Check if the number is even
    if num % 2 == 0:
        # Step 4: Add the even number to the set
        even_numbers_set.add(num)

# Step 5: Print the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [87]:
#8. Create a set of odd numbers from 1 to 10.
# Step 1: Initialize an empty set to store odd numbers.
odd_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10.
for num in range(1, 11):
    # Step 3: Check if the current number is odd.
    if num % 2 != 0:
        # Step 4: If the number is odd, add it to the set.
        odd_numbers_set.add(num)

# Step 5: Print the final set of odd numbers.
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [88]:
#9. Find the union of two sets.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
union_result = set1.union(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [89]:
#10. Find the intersection of two sets.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection using the intersection() method
intersection_result = set1.intersection(set2)

# Print the original sets and the intersection
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

In [90]:
#11. Find the difference between two sets.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between the sets using the difference() method
difference_set = set1.difference(set2)

# Print the original sets and the difference set
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [91]:
#12. Check if a set is a subset of another set.
# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [92]:
#13. Check if a set is a superset of another set.
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [93]:
#14. Create a set from a list.
# Step 1: Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]

# Step 2: Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

# Step 3: Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [94]:
#15. Convert a set to a list.
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [95]:
#16. Remove a random element from a set.
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 4 : {1, 2, 3, 5}

In [96]:
#17. Pop an element from a set.
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [97]:
#18. Check if two sets have no elements in common.
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [98]:
#19. Find the symmetric difference between two sets.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [99]:
#20. Update a set with elements from another set.
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [1]:
#21. Create a set of the first 5 prime numbers.
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [2]:
#22. Check if two sets are identical.
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [3]:
#23. Create a frozen set.
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [4]:
#24. Check if a set is disjoint with another set.
# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [5]:
#25. Create a set of squares of numbers from 1 to 5.
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

In [6]:
#26. Filter out all even numbers from a set.
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [7]:
#27. Multiply all elements in a set by 2.
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [8]:
#28. Create a set of random numbers.
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {14, 19, 86, 58, 31}

In [9]:
#29. Check if a set is empty.
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [10]:
#30. Create a nested set (hint: use frozenset).
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [11]:
#31. Remove an element from a set using the discard method.
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [12]:
#32. Compare two sets.
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [13]:
#33. Create a set from a string.
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'o', 'h', 'e', 'l'}

In [14]:
#34. Convert a set of strings to a set of integers.
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '456', '123'}
Converted Integer Set: {456, 123, 789}

In [15]:
#35. Convert a set of integers to a set of strings.
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'2', '3', '5', '4', '1'}

In [16]:
#36. Create a set from a tuple.
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

In [17]:
#37. Convert a set to a tuple.
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [18]:
#38. Find the maximum value in a set.
#Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

In [19]:
#39. Find the minimum value in a set.
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [20]:
#40. Create a set from user input.
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  ineuron, pwskills, done
>  done

Final set: {'ineuron, pwskills, done'}

In [21]:
#41. Check if the intersection of two sets is empty.
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [22]:
#42. Create a set of the first 5 Fibonacci numbers.
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [23]:
#43. Remove duplicates from a list using sets.
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [24]:
#44. Check if two sets have the same elements, regardless of their count.
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [25]:
#45. Create a set of the first `n` powers of 2.
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [26]:
#46. Find the common elements between a set and a list.
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [27]:
#47. Create a set of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  11

The set of the first 11 triangular numbers is: {1, 66, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [28]:
#48. Check if a set contains another set as a subset.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [29]:
#49. Create a set of alternating 1s and 0s of length `n`.
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [30]:
#50. Merge multiple sets into one.
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}